.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #131212;
    color: #5c5959;
    width: 60%;
    height: 100%;
}

.menuContainer h1 {
    padding: 20px;
}

.menuContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.menuContainer ul .item {
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.menuContainer ul .item li {
    padding: 6px 0;
    transition: all ease 0.3s;

}

.menuContainer ul .item li p {
    font-weight: 600;
    font-size: 1.2rem;
    color: #5c5959;
}

.menuContainer ul .item li:hover {
    background-color: #741111 ;
}

.menuContainer ul .item li:hover p {
    color: #fff;
}

.menuContainer ul .item-secondary li {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    transition: all ease 0.3s;
}

.menuContainer ul .item-secondary li p {
    font-weight: 400;
    font-size: 1.2rem;
}

.menuContainer ul .item-secondary li:hover {
    background-color: #206790 ;
}

.menuContainer ul .item-secondary li:hover p {
    color: #fff;
}

.menuContainer .toggleMenu {
    display: none;
}

@media screen and (max-width: 760px) {

    .menuContainer {
        width: 90%;
        height: 100%;
    }

    .menuContainer .toggleMenu {
        position: absolute;
        top: 15px;
        right: 6%;
        display: block;
        padding: 20px;
        font-size: 2rem;
        cursor: pointer;
    }

    .menuContainer ul {
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        height: 130%;
        background: #131212;
        transition: 0.2s;
    }

    .menuContainer ul.active {
        left: 0;
    }

    .menuContainer ul .item {
        padding: 10px 0;
        transition: all ease 0.3s;
    
    }
    
    .menuContainer ul .item li p {
        font-weight: 600;
        font-size: 2rem;
        color: #5c5959;
    }

    .menuContainer ul .item p {
        font-size: 2rem;
    }
}